* {
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: #096b62;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.three {
  display: flex;
  justify-content: space-between;
  height: 200px;
  width: 200px;
}
.two {
  display: flex;
  justify-content: space-between;
  height: 200px;
  width: 200px;
}
.three img {
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
}
.three div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.two img {
  margin: 20px;
}
